.AppMain{
  display: flex;
}

.AppMain > div:first-child{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-right: 5%;
  border: 2px solid gray;
}

.Ball{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

p { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
    pointer-events: none;
}

.instruction{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}